/* #region Common*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
}

img {
    max-width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* #endregion Common*/

/* #region Body*/
/* header */
.title_header {
    font-size: 3.5rem;
    text-align: center;
    margin: 1.25rem;
    color: #E53170;
}

/* main */
.description {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.col {
    width: calc(100% / 3);
    float: left;
    background-color: white;
}

.card {
    background-color: black;
    margin: 15px;
    color: white;
    box-shadow: 0 0 10px black;
    float: left;
}

.info_box {
    margin: 0.75rem;
    float: right;
    text-align: left;
    width: 500px;
}

.info_box p {
    font-size: 1.5rem;
    margin: 25px 0;
    font-family: 'Josefin Sans', sans-serif;
}

.name {
    font-size: 3rem;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(40, 106, 220);
}
/* #endregion Utilities*/